###
## Juju, LXD and Virtual Machine configurations
###
#
# The Ubuntu operating system version to install on the virtual machines (VMs)
ubuntu_version = "24.04"
# The juju model UUID as output from the previous step
maas_model_uuid = "75db525e-ac2f-4055-8235-2ba7efa9bc17"
# The Virtual IP to use for HA MAAS
virtual_ip = null
# The Hostname to use for HA MAAS
external_hostname = null
# Use the following constraints for the machines
# Increase cores and mem for larger MAAS installations
# We recommend using virtual machines. If you are curious
# you can change the constraints to use containers or physical
# hosts but this is untested
# NOTE: if you set up the project with juju-bootstrap your
#       controller will work with VMs
ingress_constraints = "cores=2 mem=4G virt-type=virtual-machine"
cert_constraints    = "cores=2 mem=4G virt-type=virtual-machine"

###
## Ingress-Configurator configuration
###

# Operator channel for Ingress Configurator deployment
charm_ingress_configurator_channel = "latest/stable"
# Operator channel revision for Ingress Configurator deployment
charm_ingress_configurator_revision = null
# Operator configuration for Ingress Configurator deployment
charm_ingress_configurator_config = {
}

###
## Certificates configuration
###

# Charm name of the deployed certificate charm.
charm_cert_app = "self-signed-certificates"
# Operator channel for Certificates deployment
charm_cert_channel = "1/stable"
# Operator channel revision for Certificates deployment
charm_cert_revision = null
# Operator configuration for Certificates deployment
charm_cert_config = {
}

###
## HAProxy configuration
###

# Application name of the deployed haproxy charm.
haproxy_name = "haproxy"
