export LXD_TRUST_TOKEN=...         # obtain with `lxc config trust add --name charmed-maas`
export LXD_ADDRESS=...             # "https://10.10.0.1:8443"
export ADMIN_SSH_IMPORT=...        # "gh:<gh-username>" or "lp:<launchpad-id>"
export MAAS_ADMIN_PASSWORD=...     # "password"
export S3_CA_CHAIN_FILE_PATH=...   # "/path/to/ca-chain.pem"
export S3_ACCESS_KEY=...           # "admin"
export S3_SECRET_KEY=...           # "password"
export VIRTUAL_IP=...              # "10.10.10.100"
export SSL_CERT_PATH=...           # "/path/to/cert.pem"
export SSL_KEY_PATH=...            # "/path/to/key.pem"
export SSL_CACERT_PATH=...         # "/path/to/cacert.pem"
